{% extends "base_logedin_staff.html" %}

{% block content %}
    <!doctype html>
    <html>

    <div class="content-agileits">
        <h1 class="title">Modifica studentul</h1>
        <div class="center">
            <form method="post" enctype="multipart/form-data" data-toggle="validator">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <br>
                <input type="submit" class="btn btn-primary pull-right" value="Save"/>
                <input type="submit" class="btn btn-danger pull-right" style="color:black;"
                       onclick="location.href='{% url 'student_app:view_students' %}';" value="Cancel"/>
            </form>
        </div>
    </div>

    {% load static %}
    <!-- js -->
    <script src="{% static  'js/jquery-2.1.4.min.js ' %}"></script>
    <!-- //js -->

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/validator.min.js' %}"></script>

    <!-- /js files -->
{% endblock %}