{% extends "base_logedin_staff.html" %}

{% block content %}

    <h3 class="title_text">Liste Studenti</h3>

    <div class="content">
        <div>
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <form class="form-inline" type="get" action="{% url 'student_app:view_students' %}" style="margin: 0 ">

                    <div class="dropdown col-sm-2">
                        <label>Facultate</label>
                        <select id="facs" name="nfacts">
                            <option value="">Afiseaza Toate</option>
                            {% for facultate in object_list.facs %}
                                <option value="{{ facultate.id }}">{{ facultate.name }}</option>
                            {% endfor %}
                        </select>

                    </div>


                    <div class="dropdown col-sm-2">
                        <label>Specializare</label>
                        <!--Blue select-->
                        <select id="specs" name="sfacts">
                            <option value="">Afiseaza Toate</option>
                            {% for specs in object_list.specs %}
                                <option value="{{ specs.id }}">{{ specs.name }}</option>
                            {% endfor %}
                        </select>
                        <!--/Blue select-->

                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-sm" style="color: black" id="search_submit" type="submit">Aplica filtre
                        </button>
                    </div>
                </form>
                <div class="col-sm-2">
                    <button class="btn btn-sm" style="color: black"
                            onclick="location.href='{% url 'student_app:view_students' %}';">Reseteaza filtre
                    </button>
                </div>

                <div class="col-sm-4">
                    <form class="form-inline" type="get" action="{% url 'student_app:view_students' %}"
                          style="margin: 0 ">
                        <center><input id="search_box" type="text" name="search_box"
                                       class="glyphicon glyphicon-search form-control" placeholder=" Search...">
                            <button id="search_submits" class="glyphicon glyphicon-search" type="submit"></button>
                        </center>
                    </form>
                </div>

            </div>


            <br>
            <br>
            <div>
                <div>
                    <div class="table-wrapper">
                        <!--Table-->
                        <table class="table">
                            {% if  object_list.students %}
                                <!--Table head-->
                                <thead>
                                <tr>
                                    <th class="th-lg"><strong>Nr matricol</strong></th>
                                    <th class="th-lg"><strong>Nume</strong></th>
                                    <th class="th-lg"><strong>Prenume</strong></th>
                                    <th class="th-lg"><strong>Facultate</strong></th>
                                    <th class="th-lg"><strong>Specializare</strong></th>

                                    <th></th>

                                </tr>

                                </thead>
                                <!--Table head-->
                            {% endif %}
                            <!--Table body-->
                            <tbody>
                            {% for student in object_list.students %}
                                <tr>
                                    <th>{{ student.nr_matricol }}</th>
                                    <th>{{ student.last_name }}</th>
                                    <th>{{ student.first_name }}</th>
                                    <th>{{ student.specializations.facultate }}</th>
                                    <th>{{ student.specializations }}</th>

                                    {% if user.is_authenticated and not user.is_teacher %}
                                        <th>
                                            <button class="btn btn-sm" style="color: black;"
                                                    onclick="window.location.href = '{% url 'student_app:edit_student' student.nr_matricol %}';">
                                                Edit
                                            </button>
                                        </th>
                                        <th>
                                        <button class="btn btn-sm btn-danger" data-toggle="modal"
                                                data-target="#myModal{{ student.nr_matricol }}">
                                            Delete
                                        </button>
                                    {% endif %}

                                </tr>
                                <!--// modal-->
                                <div class="modal fade" id="myModal{{ student.nr_matricol }}" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;
                                                </button>
                                                <h4 class="modal-title">Delete</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Esti sigur ca doresti sa-l stergi?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{% url 'student_app:delete_student' student.nr_matricol %}">
                                                    <button type="button" class="btn btn-primary">Sunt sigur
                                                    </button>
                                                </a>
                                                <button type="button" class="btn btn-info" data-dismiss="modal">
                                                    Inchide
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <li>Nu aveti nici o lucrare inregistrata</li>
                            {% endfor %}
                            </tbody>
                            <!--Table body-->
                        </table>
                        <!--Table-->
                    </div>

                    <hr class="my-0">


                </div>
            </div>
        </div>
    </div>

    <style media="screen" type="text/css">
        .content {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin-right: 20px !important;
            margin-top: 200px;
            margin-left: 20px !important;

        }

        .title_text {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            margin-left: 20px;
            margin-top: 150px;
            right: 0;
        }

    </style>

{% endblock %}
