{% extends "base_logedin_staff.html" %}

{% block content %}
    <div class="content-agileits">
        <h1 class="title">Modifica profesor</h1>
        <div class="center">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                 {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <br>
                <input type="submit" class="btn btn-primary pull-right" value="Submit"/>
            </form>
        </div>
    </div>

{% endblock %}