{% extends 'base_logedin_staff.html' %}

{% block content %}
    <div class="content-agileits">
    <h1 class="title">Fisiere</h1>
        <div class="center">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button type="submit">Upload</button>
            </form>
            <br><br>

             <div class="table-wrapper">
                        <!--Table-->
                        <table class="table">

                            <!--Table head-->
                            <thead>
                            <tr>
                                <th class="th-lg"><strong>Descriere</strong></th>
                                <th class="th-lg"><strong>Document</strong></th>
                            </tr>

                            </thead>
                            <!--Table head-->

                            <!--Table body-->
                            <tbody>
                            {% for document in object_list.documents %}
                                <tr>
                                    <th>{{ document.descriere}}</th>
                                    <th>{{ document.document }}</th>
                                    <th>
                                        <button><a href="{% url 'professor_app:pdf_view' document.id %}">Vezi Fisier</a></button>
                                    </th>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <!--Table body-->
                        </table>
                        <!--Table-->
                    </div>

           <button><a href="{% url 'professor_app:view_lucrare' %}">Inapoi</a></button>
        </div>
    </div>
{% endblock %}