{% extends 'base_logedin_staff.html' %}

{% block content %}
    <div class="content-agileits">
        <h1 class="title">Fisiere</h1>
        <div class="center">
                {% if object_list.documents.count == 0 or object_list.last is False %}
                    <form class="center" style="text-align: center" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {{ last.descriere }}
                        <br>
                        <div class="checkbox left">
                            <label><input type="checkbox" name="fisier_final">Fisier Final</label>
                        </div>
                        <br>
                        <button class="btn btn-primary" type="submit">Upload</button>
                    </form>
                    <br><br>
                {% endif %}
            <h1 class="page-header">Istoric fisier</h1>

            <br><br>
            <div class="table-wrapper">
                <!--Table-->
                <table class="table">

                    <!--Table head-->
                    <thead>
                    <tr>
                        <th class="th-lg"><strong>Descriere</strong></th>
                        <th class="th-lg"><strong>Document</strong></th>
                    </tr>

                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                    {% for document in object_list.documents %}
                        {% if document.este_final == True %}
                        <tr style="background: #4cae4c">
                        {% else%}
                            <tr>
                            {% endif %}
                            <th>{{ document.descriere }}</th>
                            <th>{{ document.document }}</th>
                            <th>
                                <button class="btn btn-sm" style="color: black;"
                                        onclick="window.location.href ='{% url 'professor_app:pdf_view' document.id %}'">
                                    View
                                </button>
                                <button class="btn btn-sm" style="color: black;"
                                        onclick="window.location.href ='{% url 'professor_app:delete_file' document.id %}'">
                                    Delete
                                </button>
                            </th>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <!--Table body-->
                </table>
                <!--Table-->
            </div>

            <button class="btn btn-sm" style="color: #000;"
                    onclick="window.location.href ='{% url 'professor_app:view_lucrare' %}'">Inapoi
            </button>
        </div>
    </div>
{% endblock %}