{% extends "base_logedin_staff.html" %}

{% block content %}
    <div class="content-agileits">
        <h1 class="title">Inregistreaza un nou progres</h1>
        <div class="center">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <br>
                <input type="submit" class="btn btn-primary pull-right" value="Submit"/>
            </form>
            <br><br>

            <h1 class="page-header">Istoric status</h1>

            <br><br>
            <div class="table-wrapper">
                <!--Table-->
                <table class="table">
                    {% if object_list.status %}
                        <!--Table head-->
                        <thead>
                        <tr>
                            <th class="th-lg"><strong>Data</strong></th>
                            <th class="th-lg"><strong>Descriere</strong></th>
                        </tr>

                        </thead>
                        <!--Table head-->
                    {% endif %}
                    <!--Table body-->
                    <tbody>
                    {% for stats in object_list.status %}
                        <tr>
                            <th>{{ stats.create_at }}</th>
                            <th>{{ stats.description |truncatechars:12 }}</th>
                            <th>
                                <button class="btn btn-primary btn-sm"
                                        onclick="window.location.href ='{% url 'professor_app:view_status'  stats.id %}'"
                                >Vezi complet
                                </button>
                            </th>
                            <th>
                                <button class="btn btn-danger btn-sm" data-toggle="modal"
                                        data-target="#myModal{{ stats.pk }}">
                                    Sterge
                                </button>
                            </th>
                        </tr>
                        <!--// modal-->
                        <div class="modal fade" id="myModal{{ stats.pk }}" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;
                                        </button>
                                        <h4 class="modal-title">Delete</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Esti sigur ca doresti sa-l stergi?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{% url 'professor_app:delete_status' stats.pk %}">
                                            <button type="button" class="btn btn-primary">Sunt sigur
                                            </button>
                                        </a>
                                        <button type="button" class="btn btn-info" data-dismiss="modal">
                                            Inchide
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        Nu este inregistrat nici un status
                    {% endfor %}
                    </tbody>
                    <!--Table body-->
                </table>
                <!--Table-->
                <button class="btn btn-sm" style="color: #000;"
                        onclick="window.location.href ='{% url 'professor_app:view_lucrare' %}'">Inapoi
                </button>
            </div>
        </div>
    </div>
{% endblock %}