{% extends "base_logedin_staff.html" %}

{% block content %}

    <h3 class="title_text ">Liste Lucrari</h3>

    <div class="content">
        <div>
            <br>
            <br>
            <div>
                <div>
                    <div class="table-wrapper">
                        <!--Table-->
                        <table class="table">
                            {% if  object_list.lucarari %}
                                <!--Table head-->
                                <thead>
                                <tr>
                                    <th class="th-lg"><strong>Titlu lucrare</strong></th>
                                    <th class="th-lg"><strong>Tip Lucrare</strong></th>
                                    <th class="th-lg"><strong>Student </strong></th>
                                    <th class="th-lg"><strong>Profesor</strong></th>

                                    <th></th>

                                </tr>

                                </thead>
                            {% endif %}
                            <!--Table head-->

                            <!--Table body-->
                            <tbody>
                            {% for lucarare in object_list.lucarari %}
                                <tr>
                                    <th>{{ lucarare.titluLucrare }}</th>
                                    <th>{{ lucarare.get_tipLucrare_display }}</th>
                                    <th>{{ lucarare.student.first_name }} {{ lucarare.student.last_name }}</th>
                                    <th>{{ lucarare.profesor.first_name }} {{ lucarare.profesor.last_name }}</th>
                                    <th>
                                        <button class="btn btn-sm" style="color: black;"
                                                onclick="window.location.href ='{% url  'professor_app:status_update' lucarare.student.nr_matricol %}'">
                                            Integistreaza status

                                        </button>

                                        <button class="btn btn-sm" style="color: black;"
                                                onclick="window.location.href ='{% url 'professor_app:file_upload' lucarare.student.nr_matricol %}'">
                                            Fisiere
                                        </button>

                                        {% if user.is_authenticated and not user.is_teacher %}
                                            <button class="btn btn-sm btn-danger" data-toggle="modal"
                                                    data-target="#myModal{{ lucarare.id }}">
                                                Delete
                                            </button>
                                        {% endif %}
                                    </th>
                                </tr>
                                <!--// modal-->
                                <div class="modal fade" id="myModal{{ lucarare.id }}" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;
                                                </button>
                                                <h4 class="modal-title">Delete</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Esti sigur ca doresti sa-l stergi?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{% url 'professor_app:delete_lucrare' lucarare.id %}">
                                                    <button type="button" class="btn btn-primary">Sunt sigur
                                                    </button>
                                                </a>
                                                <button type="button" class="btn btn-info" data-dismiss="modal">
                                                    Inchide
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <li>Nu aveti nici o lucrare inregistrata</li>
                            {% endfor %}
                            </tbody>
                            <!--Table body-->
                        </table>
                        <!--Table-->
                    </div>

                    <hr class="my-0">


                </div>
            </div>
        </div>
    </div>

    <style media="screen" type="text/css">
        .content {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin-right: 20px !important;
            margin-top: 200px;
            margin-left: 20px !important;

        }

        .title_text {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            margin-left: 20px;
            margin-top: 150px;
            right: 0;
        }
    </style>


{% endblock %}
