<!DOCTYPE html>
<html lang="en">
<head>

    {% block title %}<title>Licente Management</title>{% endblock %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>

<body>
<div class="wrapper">

    <nav id="sidebar">
        <!-- Sidebar Header -->
        <div id="sidebarCollapse" class="sidebar-header">
            <h3>Licente Mananger</h3>
            <strong>LM</strong>
        </div>

        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li>
                <a href="{% url  'user_app:home' %}">
                    <i class="glyphicon glyphicon-home"></i>
                    Acasa
                </a>
            </li>
            <li>
                <a href="{% url  'professor_app:register_professor' %}">
                    <i class="glyphicon glyphicon-send"></i>
                    Inregistreaza profesor
                </a>
            </li>
            <li>
                <a href="{% url  'student_app:register_student' %}">
                    <i class="glyphicon glyphicon-link"></i>
                    Inregistreaza student
                </a>
            </li>

        </ul>
    </nav>
    <div id="content-area" style="width: 100%">
        {% block content %}
        {% endblock %}
    </div>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>
</html>